.container {
	display:block;
	align-content:center;
}
.nav-brand {
	text-color: white;
	text-decoration: none;
}
.roundedImage {
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 90px;
	height: 110px;
}
